--swiftversion 5.0

# format options
--indent 4
--self init-only
--commas inline
--trimwhitespace nonblank-lines
--hexliteralcase lowercase

# file options
--exclude Pods, FoodBowl/Glboal/Supports/AppDelegate.swift, FoodBowl/Glboal/Supports/SceneDelegate.swift, FoodBowl/Glboal/Extensions/String+Extension

# rules
