--swiftversion 5.0

# format options
--indent 4
--self init-only
--commas inline
--trimwhitespace nonblank-lines
--hexliteralcase lowercase

# file options
--exclude Pods, FoodBowl/Global/Supports/AppDelegate.swift, FoodBowl/Global/Supports/SceneDelegate.swift, FoodBowl/Global/Extensions/String+Extension.swift

# rules
